<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Metrico{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header style="padding:16px;border-bottom:1px solid #ddd">
      <nav>
        <a href="/">Home</a>
      
        {% if user.is_authenticated %}
          <a href="{% url 'profile' %}">My Profile</a>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
    
    <main style="padding:16px;max-width:1000px;margin:0 auto;">
        {% block content %}{% endblock %}
    </main>
</body>
<footer class="site-footer">
  <div class="container">
    {% comment %} <p>© {% now "Y" %} {{ site_settings.business_name }}. ABN: {{ site_settings.abn|default:"—" }}</p>

    <p>
      id={{ site_settings.id }} |
      name={{ site_settings.business_name }} |
      abn={{ site_settings.abn|default:"(empty)" }}
    </p> {% endcomment %}

    {% load site_settings %}

    {% site_settings as site %}

    <p>© {% now "Y" %} {{ site.business_name }}. ABN: {{ site.abn }}</p>

  </div>
</footer>
</html>